body {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
}

.navbar-default {
	background-color: #fcde37;
}

.navbar-brand {
	min-width: 240px;
}

.navbar-default .navbar-brand {
	color: #555;
}

.navbar-default .navbar-nav > li > a {
	color: #555;
}

.navbar-default .navbar-nav > li > a:focus {
	background-color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #ffffff;
	color: #555;
}

.navbar-default .navbar-nav > .active > a:focus {
	background-color: #ffffff;
} 

.navbar-default .navbar-nav > .active > a:hover {
	background-color: #ffffff;
} 


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}

.footer p {
	color: #777;
	margin: 10px 0;
	font-size: 12px;
}



